html,
body {
    margin: 0;
    font: 12px/1.3 Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: normal;
}

em {
    font-style: normal;
}

@font-face {
    font-family: 'WBswficon';
    src: url("https://img.t.sinajs.cn/t6/style/images/common/font/swbficon.woff?id=141111232016");
    src: url("https://img.t.sinajs.cn/t6/style/images/common/font/swbficon.eot?id=141111232016#iefix") format('embedded-opentype'), url("https://img.t.sinajs.cn/t6/style/images/common/font/swbficon.svg?id=141111232016") format('svg'), url("https://img.t.sinajs.cn/t6/style/images/common/font/swbficon.woff?id=141111232016") format('woff'), url("https://img.t.sinajs.cn/t6/style/images/common/font/swbficon.ttf?id=141111232016") format('truetype');
    src: url("https://img.t.sinajs.cn/t6/style/images/common/font/swbficon.eot?id=141111232016") \9;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wbficonregular';
    src: url("https://img.t.sinajs.cn/t6/style/images/common/font/wbficon.woff?id=165420180711");
    src: url("https://img.t.sinajs.cn/t6/style/images/common/font/wbficon.eot?id=165420180711#iefix") format('embedded-opentype'), url("https://img.t.sinajs.cn/t6/style/images/common/font/wbficon.svg?id=165420180711") format('svg'), url("https://img.t.sinajs.cn/t6/style/images/common/font/wbficon.woff?id=165420180711") format('woff'), url("https://img.t.sinajs.cn/t6/style/images/common/font/wbficon.ttf?id=165420180711") format('truetype');
    src: url("https://img.t.sinajs.cn/t6/style/images/common/font/wbficon.eot?id=165420180711") \9;
    font-weight: normal;
    font-style: normal;
}

.Sticky-contain {
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3), 0 0 6px 2px rgba(0, 0, 0, 0.15);
    z-index: 9;
}

.inner-contain {
    width: 1250px;
    margin: 0 200px;
}

.inner-container {
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(36, 61, 89, 0.25);
}

.header-inner {
    height: 50px;
}

.header-left-logo {
    width: 85px;
    height: 30px;
    margin-top: 10px;
}

.header-left {
    display: inline-block;
    margin-right: 70px;
}

.header-middle {
    display: inline-block;
    margin-left: 20px;
    margin-right: 62px;
    vertical-align: 10px;
    /* 1.问题？？？ */
    position: relative;
}

.W_ficon {
    font-family: "wbficonregular" !important;
}

/* 1.问题？？？ */

.ficon_search {
    position: absolute;
    left: 400px;
    bottom: 4px;
    font-size: 18px;
    width: 18px;
}

.header-middle-search {
    width: 477px;
    height: 25px;
    margin-left: -53px;
    font-size: 12px;
    color: #cccccc;
    background-color: #f2f2f5;
    border: 1px solid;
}

.header-right {
    display: inline-block;
}

.header-right-item {
    display: inline-block;
    vertical-align: 7px;
    margin-right: 20px;
}

.header-right-item a {
    color: #696e78;
}

.header-right-item a em {
    margin-right: 4px;
    font-size: 22px;
}

.header-right li:first-child a {
    color: red;
}

.header-right li:last-child a {
    background: -webkit-linear-gradient(top, #fa7d3c 0%, #f56010 100%);
    display: inline-block;
    color: white;
    width: 26px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.header-right-item a:hover {
    color: red;
}

.contain-left {
    width: 150px;
    height: 100%;
    position: fixed;
    margin-top: 50px;
    
}

body {
    background: url(https://img.t.sinajs.cn/t6/skin/skin058/images/body_bg.jpg?id=20140928183500);
    background-repeat: repeat-x;
    background-position: center 0;
    background-color: #d4d5e0;
}

.contain-main {
    display: inline-block;
    width: 600px;
    height: 100%;
    margin: 50px 0 0 150px;
    
}

.contain-left-slider {
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.contain-left ul:first-child li a {
    font-weight: bold;
}

.contain-left-slider li {
    font-size: 10px;
    height: 35px;
    line-height: 35px;
}

.contain-left-slider li em {
    color: white;
    margin-right: -13px;
    margin-left: 12px;
}

.contain-left-slider .W_ficon {
    width: 26px;
    height: 20px;
}
.contain-left-slider{
    position: relative;
}
.ficon_setup{
    position: absolute;
    right: -11px;
    bottom: -12px;
    color: white;
}
.contain-left .small li a {
    font-size: 8px;
}

.contain-left-slider li a {
    color: #fff;
    padding-left: 15px;
}

.contain-left-slider li:hover {
    background-color: #a0b9d5;
}

.Card {
    background-color: #fff;
    border-radius: 3px;
}

.main-post {
    margin-top: 15px;
}

.post-span-right {
    margin-left: 10px;
    line-height: 35px;
}

.W_swficon {
    font-family: "WBswficon" !important;
    font-size: 18px;
    color: #808080;
}

.W_swficon em {
    margin-left: -6px;
}

.post-span-left {
    font-size: 10px;
    color: #e27958;
    font-weight: normal;
    float: right;
    margin-top: 18px;
    margin-right: 10px;
}

.post-input {
    height: 80px;
    width: 570px;
    margin-top: 5px;
    margin-left: 13px;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15) inset;
    resize: none;
}

.main-post-bottom-left a,
.main-post-bottom a,
.nav a {
    color: #333;
    font-size: 13px;
}

.main-post-bottom a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-top: 4px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.main-post-bottom a em {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: -3px;
}

.ficon_face {
    color: red;
}

.ficon_image {
    color: greenyellow;
}

.ficon_video {
    color: #5fa8e0;
}

.ficon_swtopic {
    color: #5d8de0;
}

.ficon_artical {
    color: #f58830;
}

.main-post-bottom-left {
    float: right;
    margin-top: -29px;
    margin-right: 8px;
}

.main-post-button {
    width: 82px;
    height: 30px;
    margin-left: 10px;
    color: #fff;
    background-color: #ffc09f;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    margin-top:-4px;
}

.nav {
    height: 38px;
    margin-top: 10px;
}

.nav a {
    font-size: 12px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
}

.nav a:first-child {
    margin-left: 10px;
    font-weight: bold;
    position: relative;
}

.nav-input {
    width: 178px;
    height: 25px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15) inset;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.pos .ficon_arrow_down_lite {
    position: relative;
    left: 260px;
    color: #808080;
}

.pos .ficon_search {
    left: 275px;
    top: 2px;
    font-size: 16px;
    color: #ccc;
}

.contain-content {
    padding: 0;
}

.content-bottom a {
    font-size: 12px;
}

.contain-content-two {
    height: 448px;
    padding: 0;
}

.contain-right {
    width: 230px;
    display: inline-block;
    vertical-align: top;
    margin-top: 65px;
    margin-left: 8px;
}

.vip-information {
    height: 164px;
}

.content-focus {
    font-size: 12px;
    line-height: 38px;
    border-bottom: 1px solid #f2f2f5;
    height: 38px;
}

.content-focus span:first-child {
    margin-left: 10px;
    color: #5d7cad;
}

.content-focus span:last-child {
    float: right;
    margin-right: 10px;
}

.arrow-down{
    float: right;
    font-style: normal;
    padding-right: 18px;
}
.arrow-down:hover{
    color: #e27958;
}

.content-center-imag {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.picture-right {
    margin-left: 80px;
    margin-top: -50px;
    width: 480px;
}

.picture-right .titile {
    font-size: 13px;
    font-weight: bold;
}

.picture-right .resource {
    margin-top: 5px;
    margin-bottom: 5px;
}

.picture-right .resource span {
    font-size: 10px;
    color: #808080;
}

.main-content a {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-content {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    line-height: 1.7;
}

.main-content-imgs {
    width: 340px;
    height: 340px;
    outline: 1px solid #ccc;
}

.content-bottom {
    height: 38px;
    border-top: 1px solid #ccc;
    margin-top: 12px;
    line-height: 38px;
}

.content-bottom a {
    margin-left: 60px;
    margin-right: 55px;
}

.content-bottom span {
    color: #ccc;
}

.contain-right-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 32px 50px 0 80px;
}

.information-name {
    width: 90px;
    margin: 0 auto 5px auto;
    font-weight: 600;
    font-size: larger;
}

.information-names {
    text-align: center;
}

.information-names li {
    display: inline-block;
    width: 50px;
    line-height: 15px;
    text-align: center;
}

.information-names li:first-child {
    border-right: 1px solid #cccccc;
}

.information-names li:last-child {
    border-left: 1px solid #cccccc;
}

.information-names li div {
    color: black;
    font-weight: bolder;
    font-size: larger;
}

.information-names li span {
    font-size: 11px;
}

.New-songs {
    height: 256px;
    margin-top: 10px;
}
.New-songs-huan:hover{
    color: #e27958;
}
.New-title {
    border: 1px solid #cccccc;
    line-height: 38px;
}

.New-songs-title {
    font-size: 14px;
    font-weight: bold;
}

.New-songs-huan {
    font-size: 13px;
    float: right;
    font-size: 10px;
    color: #333;
}

.New-vedio {
    height: 84px;
    border-bottom: 1px solid #f2f2f5;
}

.New-vedio-img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-top: 5px;
}

.New-vedio .info_box {
    width: 128px;
    margin-left: 82px;
    margin-top: -75px;
}

.New-vedio div {
    margin-top: 3px;
}

.subtitle {
    margin-bottom: 8px;
}

.text_box .title {
    font-weight: 600;
    color: black;
}
.icon_num_red{
    display: inline-block;
    background: #df3e3e;
    width: 15px;
    height: 15px;
    line-height: 16px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
}
.speinofo {
    color: #e27958;
    font-weight: 600;
}

.New-item {
    height: 48px;
    border-bottom: 1px solid #f2f2f5;
}

.New-item .title {
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: normal;
    margin-right: 30px;
}

.New-item .speinofo {
    display: inline-block;
}

.New-bottom {
    font-size: 10px;
    line-height: 35px;
    text-align: center;
}

.Hot-title {
    height: 322px;
    margin-top: 10px;
}

.Hot-title ul {
    height: 240px;
    border-bottom: 1px solid #f2f2f5;
}

.Hot-title ul li {
    height: 30px;
}

.Hot-title ul li a {
    padding-left: 14px;
    font-size: 12px;
    color: black;
}

.Hot-title ul li span {
    font-size: 10px;
    float: right;
    padding-right: 12px;
    color: #808080;
}

.Hot-title ul li:first-child {
    margin-top: 12px;
}

.Godfrind-focus {
    height: 477px;
    margin-top: 10px;
}

.Godfrind-items {
    height: 100px;
}

.vip-contain {
    height: 264px;
    margin-top: 10px;
}

.vip-tip {
    height: 135px;
    margin-top: 10px;
}