html,
body {
    margin: 0;
}

/* user agent normalize */

button {
    border: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    font-size: 15px;
    color: #1a1a1a;
    background-color: #f6f6f6;
}

.AppHeader {
    height: 52px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    padding: 0;
    margin-top: 0;
}

.Sticky {
    position: fixed;
    width: 100%;
}

.Topstory-mainColumn {
    margin-top: 62px;
}

.AppHeader-inner {
    width: 1000px;
    margin: auto;
    height: 52px;
    display: block;
    overflow: hidden;
    position: relative;
}

.AppHeader-inner a.AppHeader-inner-a {
    text-decoration: none;
    color: #0084ff;
    display: block;
    width: 67px;
    height: 30px;
    font-size: 1.8em;
    line-height: 30px;
    position: absolute;
    top: 12px;
    text-align: center;
}

.AppHeader-nav a:first-child {
    margin-left: 90px;
}

.AppHeader-nav a {
    position: relative;
    text-decoration: none;
    color: #8590a6;
    font-size: 1.02em;
    float: left;
    margin: 16px 0 0 0;
    padding-right: 30px;
}

.AppHeader-nav a.AppHeader-navItem:hover {
    color: #175199;
}

/* .AppHeader-nav a.AppHeader-navItem:visited{
    color: #444;
} */

.SearchBar {
    position: absolute;
    top: 8px;
    left: 277px;
    width: 400px;
    display: block;
}

.SearchBar-input {
    position: relative;
    background: #f6f6f6;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    width: 320px;
}

.input {
    width: 350px;
    height: 30px;
    line-height: 24px;
    font: 400 14px system-ui;
    background: transparent;
    outline: none;
    border: none;
    padding-left: 16px;
}

.Icon--search {
    position: absolute;
    right: 10px;
    top: 10px;
    fill: #8590a6;
}

.ask-push {
    display: none;
    width: 400px;
    margin-top: 12px;
    position: fixed;
}

.ask-push ul {
    padding-left: 15px;
    margin: 0;
    color: #1a1a1a;
    font-size: 14px;
}

.ask-push span {
    margin-left: 15px;
    display: block;
    border-bottom: 1px solid rgba(26, 26, 26, .1);
    margin-right: 10px;
    line-height: 40px;
    font-size: 14px;
    color: #8590a6;
}

.ask-push ul li {
    list-style: none;
    line-height: 35px;
}

.ask-push ul li:hover {
    background: #f6f6f6;
}

.ask-push ul li:hover .Icon--remove{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    display: block;
}
.Icon--remove {
    
    display: none;
}
.clear-all{
    text-decoration: none;
    float: right;
    margin-top: -20px;
    margin-right: 5px;
    color: #444;
}
.clear-all:hover{
    color: #175199;
}
.button {
    font: 400 14px system-ui;
    color: #f6f6f6;
    background-color: #0084ff;
    width: 58px;
    height: 32px;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: 342px;
}

.AppHeader-useInfo {
    width: 326px;
    height: 31px;
    position: absolute;
    top: 10px;
    right: 0px;
}

.svg-img {
    float: left;
    color: #8590a6;
    fill: currentColor;
    margin-left: 40px;
    margin-top: 5px;
}

.svg-svg {
    margin-left: 170px;
}

.AppHeader-menu {
    margin-top: 0px;
}

.Topstory-container {
    width: 1000px;
    margin: 0px auto 0 auto;
    background: #F6F6FD;
}

.Topstory-mainColumn {
    width: 694px;
    height: 58px;
    margin-right: 10px;
    float: left;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}

.Card {
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    margin-bottom: 10px;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
}

.Topstoryheader {
    width: 674px;
    padding-left: 10px;
    padding-right: 10px;
    height: 58px;
}

.Topstoryheader-nav {
    height: 58px;
    line-height: 58px;
}

.Topstoryheader-nav .QuestionAskbutton {
    height: 58px;
    font-size: 1em;
    color: #444;
}

.Topstoryheader-nav svg {
    margin-right: 8px;
    margin-bottom: -4px;
}

.TopstoryHeader-navItem {
    margin-right: 38px;
}

.Topstoryheader-nav a {
    text-decoration: none;
}

.Topstoryheader-nav a:visited {
    color: #444;
}

.Topstoryheader-nav .TopstoryHeader-navItem:hover {
    color: #175199;
    cursor: pointer;
}

.Topheader-rightItem {
    float: right;
    margin-top: -39px;
    margin-right: 20px;
    text-decoration: none;
    color: #8590a6;
}

.Topheader-rightItem:hover {
    color: #175199;
}

.GlobalSideBar {
    float: left;
    width: 296px;
    height: 176px;
    margin-top: 62px;
}

.GlobalSideBar-categoryList {
    display: block;
    width: 296px;
    height: 126px;
    margin-top: 20px;
    padding: 0 10px 0 10px;
}

.GlobalSideBar-categoryItem {
    text-decoration: none;
    display: block;
    width: 91.08px;
    height: 56px;
    float: left;
    margin-bottom: 25px;
}

.GlobalSideBar-categoryList a {
    text-decoration: none;
    display: block;
    text-align: center;
}

.GlobalSideBar-categoryList .GlobalSideBar-categoryLabel {
    color: #8590a6;
    display: block;
    margin-top: 5px;
}

.GlobalSideBar-categoryList a:hover .GlobalSideBar-categoryLabel {
    color: currentColor;
}

.GlobalSideBar-navList {
    padding-left: 0;
}

.GlobalSideBar-navItem {
    list-style: none;
}

.GlobalSideBar-navItem a {
    text-decoration: none;
    color: #8590a6;
    width: 256px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
}

.GlobalSideBar-navText {
    display: inline-block;
    width: 158px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.GlobalSideBar-navItem:hover {
    background: #f6f6f6;
}

.GlobalSideBar-navItem:hover .GlobalSideBar-navNumber {
    background: white;
    color: #8590a6;
}

.GlobalSideBar-navNumber {
    float: right;
    background: #f6f6f6;
    color: #8590a6;
    height: 16px;
    line-height: 16px;
    font-size: .84em;
    margin-top: 8px;
    margin-right: 20px;
    padding: 6px 7px;
}

/* 内容区域开工 */

.TopstoryItem {
    height: 216px;
    padding: 16px 20px;
    margin-bottom: 10px;
}

.TopstoryItem-rightButton {
    float: right;
}

.TopstoryItem:hover .TopstoryItem-rightButton {
    color: white;
}

.FeedSource .FeedSource-firstline {
    height: 21px;
    display: inline-block;
    color: #8590a6;
}

.FeedSource-firstline .UserLink {
    display: inline-block;
}

.UserLink-link,
.AuthorInfo-content {
    text-decoration: none;
    color: #8590a6;
}

.AuthorInfo {
    margin-top: 7px;
}

.AuthorInfo-content .AuthorInfo-head .UserLink-link {
    color: black;
}

.AuthorInfo-avatarWrapper,
.AuthorInfo-content,
.AuthorInfo-content .AuthorInfo-head,
.AuthorInfo-content .AuthorInfo-detail {
    display: inline-block;
}

.AuthorInfo-avatarWrapper {
    vertical-align: -6px;
}

.ContentItem-title {
    font-size: 18px;
    margin: 7px 0 0 0;
}

.RichContent-inner .RichText {
    line-height: 1.6;
}

.RichContent-inner {
    margin-top: 9px;
}

.ContentItem-more:hover {
    color: gray;
}

.ContentItem-more .ContentItem-arrowIcon {
    fill: currentColor;
}

.ContentItem-more {
    font-size: .9em;
    color: #175199;
}

.ContentItem-actions {
    padding: 10px 20px;
    margin: 2px 10px 0px -20px;
}

.Popover {
    display: inline-block;
}

.VoteButton--up span {
    width: 15px;
    height: 30px;
}

.VoteButton {
    padding: 0px 10px;
    color: #0084ff;
    background: rgba(0, 132, 255, .1);
    border-radius: 4px;
    line-height: 30px;
    font-size: .9em;
}

.ContentItem-action,
.Button--withLabel {
    color: #8590a6;
    font-size: .9em;
    margin-left: 24px;
}

.Button--iconOnly {
    color: #8590a6;
}

#Popover6-toggle .Button--withLabel {
    margin-left: 0;
}

.Footer {
    width: 296px;
    float: right;
    color: #8590a6;
    line-height: 2;
    font-size: 13px;
}

.Footer-Sticky {
    position: fixed;
    width: 296px;
    top: 63px;
}

.Footer a {
    color: #8590a6;
    text-decoration: none;
}

.Footer-dot::after {
    margin: 0 5px;
    content: "\B7";
}